.idea
cmake-*
datasets
build/*
saving/*
data/*
*.engine
.vscode/*
model/*
weights/*
debug/*
*.so
results/*
*/__pycache__/*
docker/dep/*.deb
visual_localization.egg-info/dependency_links.txt
visual_localization.egg-info/PKG-INFO
visual_localization.egg-info/SOURCES.txt
visual_localization.egg-info/top_level.txt
dist/visual_localization-0.1.0-py3.8.egg
include/stereo_camera.h
src/stereo_camera.cc
